# Default values for xl-release.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

# No. of XL-Release master pods to run.
replicaCount: 3

## XL-Release image version
## Ref: https://hub.docker.com/r/xebialabs/xl-release/tags
ImageRepository: "xebialabs/xl-release"
ImageTag: "10.3"

## xebialabs/tiny-tools image version
## Ref: https://hub.docker.com/r/xebialabs/tiny-tools/tags
TinyToolsImageRepository: "xebialabs/tiny-tools"
TinyToolsImageTag: "22.2.0"

## Specify a imagePullPolicy
## Defaults to 'Always' if image tag is 'latest',set to 'IfNotPresent'
ImagePullPolicy: "Always"

release:
  configurationManagement:
    configuration:
      enabled: true
      resetFiles: ## Resets part of the configuration files and license
        - xl-release-license.lic
        - xlr-wrapper-linux.conf
      script: |-
        cat example.txt && echo ""; # Add here commands to be executed before release start
      scriptData: ## Add here files that will be used by the configurationScript
        example.txt: |-
          Nothing to manage at this point.
    environment:
      enabled: true
      variables: {}
    volumeMounts:
      enabled: true
      paths: {}

## Ref: https://docs.openshift.com/container-platform/4.5/networking/routes/route-configuration.html
route:
  Enabled: true
  annotations:
    haproxy.router.openshift.io/cookie_name: JSESSIONID
    haproxy.router.openshift.io/disable_cookies: "false"
    haproxy.router.openshift.io/rewrite-target: /
  path: /
  hosts:
    - app.example.com

## By default only Edge Termination is supported with Release.
## To configure SSL/TLS with Release uncomment the below tls section and provide the private key, certificate and optional caCertificate.
## The allowed values for insecureEdgeTerminationPolicy are: None or empty (for disabled), Allow or Redirect
## Ref: https://docs.openshift.com/container-platform/4.5/networking/routes/secured-routes.html
#  tls:
#    key: |-
#      -----BEGIN PRIVATE KEY-----
#      -----END PRIVATE KEY-----
#    certificate: |-
#      -----BEGIN CERTIFICATE-----
#      -----END CERTIFICATE-----
#    caCertificate: |-
#      -----BEGIN CERTIFICATE-----
#      -----END CERTIFICATE-----
#    insecureEdgeTerminationPolicy: Redirect

# # https://docs.xebialabs.com/v.10.2/release/docker/docker-environment-variables/
AdminPassword:
# Provide the admin password to be used

xlrLicense:
# Convert xl-release.lic files content to base64 ( cat xl-release.lic | base64 -w 0 ) and put the output here

RepositoryKeystore:
# https://docs.xebialabs.com/v.10.2/release/how-to/changing-passwords-in-xl-release/
# Convert repository-keystore.jceks files content to base64 ( cat repository-keystore.jceks | base64 -w 0 ) and put the output here

KeystorePassphrase:
# Passphrase for repository-keystore.jceks file

## Ref: https://github.com/bitnami/charts/blob/master/bitnami/postgresql/README.md
## Install postgresql chart. If you have an existing database deployment, set 'install' to 'false'.
postgresql:
  install: true
  initdbScriptsSecret: "postgresql-init-sql-xlr"
  image:
    pullSecrets: []
  persistence:
    enabled: true
    storageClass: "-"
    size: 8Gi
    existingClaim: ""
  postgresqlUsername: postgres
  postgresqlPassword: ""
  postgresqlMaxConnections: ""
  service:
    type: ClusterIP
    port: 5432
  resources:
    requests:
      memory: 256Mi
      cpu: 250m
  volumePermissions:
    securityContext:
      runAsUser: "auto"
  securityContext:
    enabled: false
  containerSecurityContext:
    enabled: false
  shmVolume:
    chmod:
      enabled: false

## Ref: https://docs.xebialabs.com/v.10.2/release/how-to/configure-the-xl-release-sql-repository-in-a-database/#configuration-examples
UseExistingDB:
  Enabled: false
  # If you want to use a existing database, change 'postgresql.install' to 'false'.
  # Set 'UseExistingDB.Enabled' to 'true'.Uncomment the following lines and provide the values.
  # XLR_DB_URL:
  # XLR_DB_USER:
  # XLR_DB_PASS:
  # XLR_REPORT_DB_URL:
  # XLR_REPORT_DB_USER:
  # XLR_REPORT_DB_PASS:

## Install rabbitmq chart. If you have an existing message queue deployment, set 'install' to 'false'.
## ref: https://github.com/helm/charts/blob/master/stable/rabbitmq-ha/README.md
rabbitmq:
  install: true
  replicaCount: 3
  image:
    pullSecrets: []
  auth:
    username: guest
    password: guest
    erlangCookie: RELEASERABBITMQCLUSTER
  extraPlugins: 'rabbitmq_amqp1_0'
  extraSecrets:
    xlr-load-definition:
      xlr-load_definition.json: |
        {
        "users": [
          {
              "name": "{{ .Values.auth.username }}",
              "password": "{{ .Values.auth.password }}",
              "tags": "administrator"
          }
          ],
        "vhosts": [
          {
            "name": "/"
          }
          ],
          "permissions": [
          {
            "user": "{{ .Values.auth.username }}",
            "vhost": "/",
            "configure": ".*",
            "write": ".*",
            "read": ".*"
          }
          ],
        "global_parameters": [
          {
            "name": "cluster_name",
            "value": ""
          }
          ],
         "policies": [
            {
              "name": "ha-all",
              "apply-to": "all",
              "pattern": ".*",
              "vhost": "/",
              "definition": {
                "ha-mode": "all",
                "ha-sync-mode": "automatic",
                "ha-sync-batch-size": 1
              }
            }
          ]
        }
  loadDefinition:
    enabled: true
    existingSecret: xlr-load-definition
  extraConfiguration: |
    load_definitions = /app/xlr-load_definition.json
    raft.wal_max_size_bytes = 1048576
  persistence:
    enabled: true
    storageClass: "-"
    size: 8Gi
  service:
    type: ClusterIP
  volumePermissions:
    enabled: true

## Ref: https://docs.xebialabs.com/v.10.2/release/webhooks/webhooks-overview/
UseExistingMQ:
  Enabled: false
  # If you want to use a existing Message Queue, change 'rabbitmq.install' to 'false'.
  # Set 'UseExistingMQ.Enabled' to 'true'.Uncomment the following lines and provide the values.
  # XLR_TASK_QUEUE_USERNAME:
  # XLR_TASK_QUEUE_PASSWORD:
  # XLR_TASK_QUEUE_NAME:
  # XLR_TASK_QUEUE_URL:

resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #  cpu: 3
  #  memory: 3Gi
  # requests:
  #  cpu: 0.7
  #  memory: 1700Mi

## Configure extra options for liveness and readiness probes
HealthProbes: true
HealthProbesLivenessTimeout: 60
HealthProbesReadinessTimeout: 60
HealthProbeFailureThreshold: 12
HealthPeriodScans: 10

nodeSelector: {}

tolerations: []

## Affinity and anti-affinity
## Ref: https://kubernetes.io/docs/concepts/configuration/assign-pod-node/#affinity-and-anti-affinity
affinity: {}

## XL Release data Persistent Volume for 'XL Release Report'
## If "Persistence.Enabled" set to "false", it will use hostPath.
Persistence:
  Enabled: true
  ## Choose storage class provided by your cloud provider, example "ssd" on GKE, AWS and OpenStack
  StorageClass: "-"
  Annotations: {}
  AccessMode: ReadWriteOnce
  Size: 8Gi

# OIDC Settings
oidc:
  enabled: false
  clientId:
  clientSecret:
  issuer:
  keyRetrievalUri:
  accessTokenUri:
  userAuthorizationUri:
  logoutUri:
  redirectUri:
  postLogoutRedirectUri:
  userNameClaim:
  fullNameClaim:
  emailClaim:
  rolesClaim:
